# macOS
.DS_Store
**/.DS_Store

# Java
*.class
*.jar
!dist/lib/*.jar
!dist/BookTrading.jar

# Build output
build/

# NetBeans
nbproject/private/

# JADE runtime
APDescription.txt
MTPs-Main-Container.txt
